@{
    ViewData["Title"] = "Door of Era";
}
 
    <div class="container">
        <div class="content-container">
        <div class="featured-content"
             style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('img/f-1.jpeg');">
        
            <img src="~/css/img/f-t-1.webp"  class="featured-title">
                <p class="featured-desc">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
                    deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
                    minima voluptatibus incidunt. Accusamus, provident.
                </p>
           </div>
            </div>
          <div>
               <button class="featured-button">READ</button>
              </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">RECENT ADDITIONS</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                         <img class="movie-list-item-img" src="~/css/img/1.jpg" /> 
                            <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/2.jpeg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/3_.png" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/4.jpeg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/5.jpeg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                           <img class="movie-list-item-img" src="~/css/img/6.jpeg" /> 
                            <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/7.jpeg" /> 
                            <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">RECENT ADDITIONS</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/8.jpeg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/9.jpeg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/10.jpg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/11.jpeg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/12.jpeg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/13.jpeg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/14.jpeg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
            <div class="featured-content"
                 style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('img/f-2.jpg');">
                <img class="featured-title" src="img/f-t-2.jpeg" alt="">
                <p class="featured-desc">
                    Lorem ipsum  dolor sit amet consectetur adipisicing elit. Iusto illo dolor
                    deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
                    minima voluptatibus incidunt. Accusamus, provident.
                </p>
                <button class="featured-button">READ</button>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">RECENT ADDITIONS</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/7.jpeg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                           <img class="movie-list-item-img" src="~/css/img/2.jpeg" /> 
                            <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                           <img class="movie-list-item-img" src="~/css/img/15.jpeg" /> 
                            <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/3_.png" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/6.jpeg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/5.jpeg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/1.jpg" /> 
                            <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">RECENT ADDITIONS</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/17.jpeg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/18.jpeg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                           <img class="movie-list-item-img" src="~/css/img/19.jpg" /> 
                            <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/7.jpeg" /> 
                            <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/1.jpg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                           <img class="movie-list-item-img" src="~/css/img/3_.png" /> 
                            <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                        <div class="movie-list-item">
                        <img class="movie-list-item-img" src="~/css/img/15.jpeg" />
                        <span class="movie-list-item-title">BOOK NAME</span>
                            <p class="movie-list-item-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.
                            </p>
                            <button class="movie-list-item-button">Review</button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
    
            </div>
        </div>
<script src="~/js/site.js"></script>
  